---
import { getAbsoluteLocaleUrl } from 'astro:i18n'
import DesktopNav from '$lib/components/nav/DesktopNav.astro'
import MobileNav from '$lib/components/nav/MobileNav.svelte'
import Roles from '$lib/components/roles'
import Values from '$lib/components/values'
import LangSelect from '$lib/components/lang'
import ThemeController from '$lib/components/theme'
import RootLayout from "./Root.astro"
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Age from '$lib/components/age'

const lang = Astro.currentLocale as 'en' | 'ru' || 'en'

const [portraits, values, roles, tools, socials, generalBase] = await Promise.all([
  getCollection('portraits'),
  getCollection('values'),
  getCollection('roles'),
  getCollection('tools'),
  getCollection('socials'),
  getCollection('general')
]);
const general = generalBase[0].data
const randomPortraitIndex = Math.floor(Math.random() * portraits.length);
---

<RootLayout>
    <div class="h-screen space md:py-6 md:px-4">
        <div class="stars"></div>
            
        <div class="flex h-full gap-x-2 *:transition *:bg-background/60 md:*:border">
            <aside class="h-fit hover:border-primary transition flex flex-col min-h-full flex-1 md:max-w-md">
                <header class="py-2 px-4 flex md:hidden justify-between">
                    <aside class="flex gap-x-2">
                        <LangSelect currentPath={Astro.url.pathname} lang={lang} client:load/>
                        <ThemeController/>
                    </aside>

                    <MobileNav
                        lang={lang}
                        currentPath={Astro.url.pathname}
                        hrefs={[
                            getAbsoluteLocaleUrl(Astro.currentLocale || 'en', ''),
                            getAbsoluteLocaleUrl(Astro.currentLocale || 'en', 'projects'),
                            getAbsoluteLocaleUrl(Astro.currentLocale || 'en', 'blog'),
                        ]}
                        client:load
                    />
                </header>
                <main class="px-4 py-6 space-y-10">
                    <section class="space-y-1 text-center">
                        <div class="flex justify-center">
                            <Image
                            class="rounded-full border-primary border-2 aspect-square object-center object-cover filter hover:brightness-75 transition"
                            src={portraits[randomPortraitIndex].data.url}
                            alt="Vladimir Belyaev"
                            width="200"
                            height="100"
                            />
                        </div>
                        <h3 class="text-2xl font-semibold">
                            <div>{general.name[lang]}</div>
                            <Age client:load/>
                        </h3>
                        <Roles lang={Astro.currentLocale || 'en'} roles={roles} client:load/>
                    </section>

                    <section class="text-center md:hidden">
                        <h4 class="text-2xl">{general.about.title[lang]}</h4>
                        <p>{general.about.content[lang]}</p>
                    </section>

                    <section class="text-center">
                        <h4 class="text-lg font-semibold">{general.values[lang]}</h4>
                        <Values lang={lang} values={values} client:load/>
                    </section>

                    <section class="text-center space-y-2">
                        <h4 class="text-2xl">{general.stack[lang]}</h4>
                        <ul class="flex gap-x-4 gap-y-2 flex-wrap justify-center">
                            {tools.map((tool) => (
                                <li class="">
                                    <a set:html={tool.data.icon} href={tool.data.url} target="_blank" rel="noopener noreferrer">
                                    </a>
                                </li>
                            ))}
                        </ul>
                    </section>

                    <section class="text-center">
                        <h4 class="text-2xl">Socials</h4>
                        <ul class="flex gap-x-5 items-center justify-center">
                            {socials.map((social) => (
                                <li>
                                    <a set:html={social.data.icon} href={social.data.url} target="_blank" rel="noopener noreferrer">
                                    </a>
                                </li>
                            ))}
                    </section>
                </main>
            </aside>

            <div class= "hover:border-primary flex-col flex-1 hidden md:flex">
                <header class="flex justify-between items-center py-2 pl-4 pr-2">
                    <DesktopNav/>
                    <aside class="flex gap-x-2">
                        <LangSelect currentPath={Astro.url.pathname} lang={lang} client:load/>
                        <ThemeController/>
                    </aside>
                </header>
                
                <main class="flex-1">
                    <slot />
                </main>
            </div>
            
        </div>
    </div>
</RootLayout>